#
# Put this file as `config.yaml` in
#   - ~/.config/athena-cli
#   - . (current directory)
#

profiles:
  default:
    work-group: <work-group-name>  # select one of outputs of list-work-groups
    database-name: <database-name> # select one of outputs of list-databases
