#
# Put this file as `config.yaml` in
#   - ~/.config/athena-cli
#   - . (current directory)
#

#
#
#
profiles:
  default: &default
    timeout: 30s
    database-name: <database-name> # select one of outputs of list-databases
    #work-group: "primary"
    #output-location: ""
    #catalog-name: "AWS

  dev: *default

  prod:
    timeout: 5m
    database-name: <prod-database-name>

#
#
#
accounts:
  "123456791234": *default
  "223344556677": *prod
